server:
  port: 8081

spring:
  datasource:
    url: jdbc:postgresql://localhost:5433/transactions_db
    username: postgres
    password: maria
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    jwt:
      secret=MINHA_CHAVE_SUPER_SECRETA_DO_USER_SERVICE:

